html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #000;
  color: #fff;
}

.source {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  font-size: 2rem;
  border: solid 2px #fff;
  border-bottom-width: 0px;
  border-right-width: 0px;
}

#container {
  background-color: black;
  color: #fff;
  width: 320px;
  height: 320px;
  position: relative;
  border: solid 2px #fff;
  margin: 0;
}

#next {
  position: relative;
  /* background-color: black; */
  color: #fff;
  width: 160px;
  height: 160px;
  border: solid 2px #fff;
  border-bottom-width: 0px;
  flex-shrink: 0;
}

#next-container {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  /* flex-direction: row; */
}

.block {
  width: 32px;
  height: 32px;
  background-color: red;
  position: absolute;
  transition: top 0.2s, left 0.2s, transform 0.4s, opacity 0.4s;
  /* border: solid 2px #fff; */
  margin: 2px;
  border-radius: 8px;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 50%;
}

.game-over {
  background-color: black;
  color: #fff;
  width: 320px;
  height: 320px;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 2rem;
  opacity: 0.6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block-left {
  width: 8px;
  height: 8px;
  position: absolute;
  left: -8px;
}

.block-right {
  width: 8px;
  height: 8px;
  position: absolute;
  right: -8px;
}

.block-top {
  width: 8px;
  height: 8px;
  position: absolute;
  top: -8px;
}

.block-bottom {
  width: 8px;
  height: 8px;
  position: absolute;
  bottom: -8px;
}

.game-over::before {
  content: "游戏结束 点击重开";
}

#source {
  color: rgb(221, 229, 0);
}

#message {
  border: solid 2px #fff;
  border-top-width: 0px;
}

#title {
  border: solid 2px #fff;
  border-bottom-width: 0px;
  text-align: center;
  font-size: 18px;
}

#version {
  font-size: 12px;
  color: #444;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

#message p {
  margin: 0;
  padding: 4px 2px;
}

#message p img {
  width: 20px;
  vertical-align: middle;
}
